@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
    
}

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 24px;
    
    
}

.cabecalho-imagem{
    height: 150px;
    margin-bottom: -75px;
    gap: 50px;
   
}

.cabecalho-menu{
    display: flex;
    gap: 10px 30px;
    align-items: flex-start;
   
  
}

.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: #E8E8CC;

}

.conteudo{
    margin-bottom: 48px;
    border-top: 1px solid #E8E8CC;
   
}

.conteudo-principal {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
  }
  
.conteudo-principal-escrito{
display: flex;
flex-direction: column;
gap: 32px;

}
.conteudo-principal-escrito-titulo{
    font-family: 'Righteous', cursive;
    color: #FFCC1D;
    font-weight: 400;
    font-size: 4rem;

}


.conteudo-principal-escrito-imgagem{
    margin-top: 3%;
    width: 35%;
    border-radius: 10%;
    border: solid 3px #2F2325;
   
}

.conteudo-principal-escrito-paragrafo{
    font-family: 'Sarala', sans-serif;
    color: #E8E8CC;
    font-weight: 400;
    font-size: 1.5rem;
}

.conteudo-principal-escrito-botao{
    background-color: #E8E8CC;
    width: 180px;
    height: 67px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20%;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #2F2325;
    align-self: flex-end;
}


.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    
}

.conteudo-secundario-titulo{
    border-top: 0.4px solid #E8E8CC;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    color: #FFCC1D;
    font-weight: 400;
    font-size: 1.875rem;
    margin-bottom: 14px;

}

.conteudo-secundario-paragrafo{
    font-family: 'Sarala', sans-serif;
    color: #E8E8CC;
    font-weight: 400;
    font-size: 1rem;  
    margin-right: 5%;
    margin-left: 5%;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2F2325;
    padding: 24px;
}

.rodape-titulo {
    font-family: 'Sarala', sans-serif;
    color: #E8E8CC;
    font-weight: 400;
    font-size: 1.5rem;
}

.rodape-link {
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 2px solid #2F2325;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10%;
    width: 200px;
    height: 80px;
    background-color: #E8E8CC;
    
}

.link-img{
    width: 20%;
    margin: 15px;
}
  
.temporario {
    font-family: 'Sarala', sans-serif;
    color: #E8E8CC;
    font-weight: 400;
    font-size: 1.5rem;
  }

  @media (max-width: 900px){
    .conteudo-principal{
        flex-direction: column-reverse;
        padding: 5%;
    }
}
